@mixin el-tabs-reset(){
  .d2-container-full__body {
    flex-direction: column;
    padding: 0 !important;
    //border: 1px solid rgba(35,142,222,1);
    /*box-shadow: 0 2px 4px 0px rgba(28,116,189,1);*/
    &>div{
      padding: 20px 30px 20px 20px;
    }
    &>.has-border{
      box-shadow:0px 2px 4px 0px rgba(28,116,189,.5);
      border:1px solid rgba(35,142,222,.5);
    }
  }
  .d2-container-full {
    width: calc(100% - 40px);
    margin: 0 auto;
    border: none;
  }
  .d2-container-full__header {
    border-bottom: none !important;
    padding: 0 !important;;
    height:40px;
    margin-top: 10px;
  }

    .el-tabs__item {
      width: 134px;
      flex-basis: 134px;
      max-width: 134px;
      height:100%;
      font-size: 16px;
      color: #fff;
      text-align: center;
      /*background-image: url('./image/button-4-bg-1.png');*/
      background-repeat: no-repeat;
      border:1px solid rgba(255,255,255,0.1);
      border-bottom: none;
      padding: 0;
      &.is-top {
      }

      &.is-active {
        flex-basis: 134px;
        max-width: 134px;
        color: #65E2F5;
        background-image: url('./image/pic_menu_selected.png');
        background-repeat: no-repeat;
        background-size: contain;
        border:none;
        padding: 0;
      }
    }

    .el-tabs__nav.is-stretch {
      min-width: auto;
    }

    .el-tabs__header {
      height: 40px;
      margin-bottom: 4px;
    }

    .el-tabs__active-bar {
      display: none;
    }

    .el-tabs__nav-wrap::after {
      display: none;
    }

    .el-tab-pane {
      display: flex;
      flex-direction: column;
    }

    .el-tabs__content {
      //display: none;
    }
};

@mixin el-table-reset
($borderSize:1px, $borderColor:rgba(255, 255, 255, 0.1), $thBackgroundColor:#0b2d4c, $tdBackgroundColor:#091c3d){
  .el-table--border::after, .el-table--group::after, .el-table::before {
    content: '';
    position: absolute;
    background-color: rgba(255,255,255,0);
  }

  .el-table {
    background-color: $tdBackgroundColor;
    border:none;
    // todo 更改排序样式≈≈
    //.sort-caret.ascending{
    //  border-bottom-color: #3FBECA;
    //}
    //.sort-caret.descending{
    //  border-top-color: #3FBECA;
    //}
    table {
      .cell{
        text-align: center;
      }
      tr {
        &:hover  td{
          background-color: $tdBackgroundColor;
        }
        td,th {
          background-color: $tdBackgroundColor;
          border: $borderSize solid $borderColor !important;

        }

      }
      .cell {
        color: #fff;
      }
    }
  }
}
$activeLiBackground: linear-gradient(180deg,rgba(8,40,79,1) 0%,rgba(16,86,117,0.8) 100%);

@mixin el-table-reset-primary(){
  .el-table--border::after, .el-table--group::after, .el-table::before {
    content: '';
    position: absolute;
    background-color: rgba(255,255,255,0);
  }

  .el-table {
    overflow: auto;
    border:none;
    background: rgba(255,255,255,0);
    // todo 更改排序样式
    //.sort-caret.ascending{
    //  border-bottom-color: #3FBECA;
    //}
    //.sort-caret.descending{
    //  border-top-color: #3FBECA;
    //}
    @extend .table-primary;
    .el-table__empty-block{
      background: rgba(255,255,255,0);
    }
    table {
      overflow-y: auto;
      //tr {
      //  &:hover  td{
      //    background-color: $tdBackgroundColor;
      //  }
      //  td,th {
      //    background-color: $tdBackgroundColor;
      //    border: $borderSize solid $borderColor !important;
      //  }
      //
      //}
      thead{
        tr{
          @extend .table-row;
        }
        th{
          border: none;
        }
      }
      .el-table__row--striped{
        @extend .table-row-striped;
      }
      //th{
      //  .cell {
      //    @extend .normal-table-th;
      //  }
      //}
      td{
        border: none;
        .cell {

        }
      }

    }
  }
}

@mixin el-pagination-reset($fontSize:16px, $acitivePageBackground:$activeLiBackground, $length: 30px){
  .el-pagination{
    color: $color-thirdly;
    font-size: 16px;
    font-weight: 400;
    .el-pagination__total{
      margin-right: 20px;
      line-height: $length;
      font-size: 14px;
      color: $color-thirdly;
    }
    .el-pagination__jump{
      margin-left: 10px;
      line-height: $length;
      font-size: 14px;
      color: $color-thirdly;
      .el-pagination__editor{
        width:60px;
        margin: 0 8px;
        .el-input__inner{
          padding: 0;
          width:100%;
          height:30px;
          border-radius:2px;
          border:1px solid rgba(79,209,255,1);
          background: rgba(255,255,255,0);
          color: $color-thirdly;
        }
      }
    }
    button,button:disabled,ul,li{
      background: rgba(255,255,255,0);
      font-size: $fontSize;
      i{
        color: $color-secondary;
      }
    }
    button,li{
      margin: 0 10px 0 0;
      padding: 0 5px;
      background: rgba(255,255,255,0);
      font-size: $fontSize;
      height:$length;
      min-height: $length;
      min-width: $length;
      line-height: $length;
      border:1px solid rgba(79,209,255,1);
    }
    li.active+li {
      border:1px solid rgba(79,209,255,1);
    }
    li{
      &.active{
        background: $acitivePageBackground;
      }
    }
  }
}
