// 主色
$color-primary: #2EC0F3;
$color-secondary: #32D3EB;
$color-thirdly: #4FD1FF;

// 辅助色
$color-info: #909399;
$color-success: #67C23A;
$color-warning: #FBCA6A;
$color-warning-2: #FFCD6A;
$color-danger: #EC3636;

// 文字
$color-text-main: #303133;
$color-text-normal: #606266;
$color-text-sub: #909399;
$color-text-placehoder: #C0C4CC;

// 边框
$color-border-1: #DCDFE6;
$color-border-2: #E4E7ED;
$color-border-3: #EBEEF5;
$color-border-4: #F2F6FC;

// 背景
$color-bg: #f8f8f9;

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-success {
  color: $color-success;
}

.color-danger {
  color: $color-danger;
}
.color-danger-2 {
   color: $color-warning-2;
 }

.color-warning {
  color: $color-warning;
}


.opacity-5{
  opacity: .5;
}

.opacity-8{
  opacity: .8;
}
