@import 'public';
// 补丁 base
@import '~@/assets/style/fixed/base.scss';
// 补丁 element
@import '~@/assets/style/fixed/element.scss';
// 动画
@import '~@/assets/style/animate/vue-transition.scss';

// 在这里写公用的class
// 注意 这个文件里只写class
// mixin等内容请在 public.scss 里书写

// 文字相关
.#{$prefix}-text-center {
  text-align: center;
}

// 浮动相关
.#{$prefix}-fl {
  float: left;
}

.#{$prefix}-fr {
  float: right;
}

// 边距相关
$sizes: (0, 5, 10, 15, 20);

@for $index from 1 to 6 {
  .#{$prefix}-m-#{nth($sizes, $index)} {
    margin: #{nth($sizes, $index)}px !important;
  }
  .#{$prefix}-mt-#{nth($sizes, $index)} {
    margin-top: #{nth($sizes, $index)}px !important;
  }
  .#{$prefix}-mr-#{nth($sizes, $index)} {
    margin-right: #{nth($sizes, $index)}px !important;
  }
  .#{$prefix}-mb-#{nth($sizes, $index)} {
    margin-bottom: #{nth($sizes, $index)}px !important;
  }
  .#{$prefix}-ml-#{nth($sizes, $index)} {
    margin-left: #{nth($sizes, $index)}px !important;
  }

  .#{$prefix}-p-#{nth($sizes, $index)} {
    padding: #{nth($sizes, $index)}px !important;
  }
  .#{$prefix}-pt-#{nth($sizes, $index)} {
    padding-top: #{nth($sizes, $index)}px !important;
  }
  .#{$prefix}-pr-#{nth($sizes, $index)} {
    padding-right: #{nth($sizes, $index)}px !important;
  }
  .#{$prefix}-pb-#{nth($sizes, $index)} {
    padding-bottom: #{nth($sizes, $index)}px !important;
  }
  .#{$prefix}-pl-#{nth($sizes, $index)} {
    padding-left: #{nth($sizes, $index)}px !important;
  }
}


// 快速使用

.#{$prefix}-m {
  margin: 20px !important;
}

.#{$prefix}-mt {
  margin-top: 20px !important;
}

.#{$prefix}-mr {
  margin-right: 20px !important;
}

.#{$prefix}-mb {
  margin-bottom: 20px !important;
}

.#{$prefix}-ml {
  margin-left: 20px !important;
}

.#{$prefix}-p {
  padding: 20px !important;
}

.#{$prefix}-pt {
  padding-top: 20px !important;
}

.#{$prefix}-pr {
  padding-right: 20px !important;
}

.#{$prefix}-pb {
  padding-bottom: 20px !important;
}

.#{$prefix}-pl {
  padding-left: 20px !important;
}

// 全局表格

.sn-table {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.sn-table > tbody > tr > td,
.sn-table > thead > tr > th {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  padding: 15px;
}

.sn-table > thead > tr > th {
  text-align: left;
  font-weight: 500;
}

.table-striped > tbody > tr:nth-of-type(even),
.table-striped > thead {
  background-color: #0B2D4C;
}

// reset input select elment
.sn-input {
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;

  &:-webkit-autofill {

  }
}


input, select {
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 12px;
  padding-left: 5px;
  color: $color-secondary;
  background-color: #011836;
  border: 1px solid darken($color-secondary, 30%);
}

input::-webkit-input-placeholder {
  color: $color-secondary;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
  -webkit-transition: color 99999s ease-out, background-color 99999s ease-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background: #02426D !important;
  color: #fff !important;
  -webkit-box-shadow: 0 0 0px 1000px #02426D inset !important;
}