@import '~@/assets/style/unit/color.scss';
// 工具类名统一前缀
$prefix: d2;

// 禁止用户选中 鼠标变为手形
%unable-select {
  user-select: none;
  cursor: pointer;
}

// 填满父元素
// 组要父元素 position: relative | absolute;
%full {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

// flex
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center-main{
  display: flex;
  justify-content: center;
}
.flex-center-cross{
  display: flex;
  align-items: center;
}

.flex-justify-main{
  display: flex;
  justify-content: space-between;
}
.flex-1{
  flex: 1;
}

// inline-flex

.inline-flex-center{
  @extend .flex-center;
  display: inline-flex;
}

%flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
%flex-center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// 将元素模拟成卡片外观
%card {
  border: 1px solid #dddee1;
  border-color: #e9eaec;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
}

// 元素指针改变
.cursor-pointer{
  cursor: pointer;
}
